body {
  font-family: "Poppins", sans-serif;
}
/* customize slider  */
.slider-img {
  height: 100vh;
  min-height: 400px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.slider-img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.438);
}
.captions {
  bottom: 200px;
  left: 100px;
  right: 100px;
}

.slider-button {
}
